@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --font-main:'Roboto', sans-serif;
}

.padding_1vmin{
    padding: 1vmin;
}

.padding_12rem{
    padding: 12rem;
}

.padding_10vmin{
    padding: 10vmin;
}

.padding_right_02vmin{
    padding-right: 0.2vmin;
}

.padding_top_30px{
    padding-top: 30px;
}

.padding_bot_20px{
    padding-bottom: 20px;
}

.padding_inline_7vmin{
    padding-inline: 7vmin;
}

.margin_02vmin{
    margin: 0.2vmin;
}

.margin_1vmin{
    margin: 1vmin;
}

.margin_2vmin{
    margin: 2vmin;
}

.margin_right_5{
    margin-right: 5%;
}

.margin_left_1vmin{
    margin-left: 1vmin;
}

.margin_top_5vmin{
    margin-top: 5vmin;
}

.margin_bottom_105vmin{
    margin-bottom: 1.5vmin;
}

.width_50{
    width: 50%;
}

.width_70{
    width: 70%;
}

.flex_1{
    flex: 1;
}

.flex_2{
    flex: 2;
}
.flex_3{
    flex: 3;
}

.float_left{
    float: left;
}


.text_white{
    color: white;
}
.text_red{
    color: red;
}

.text_black{
    color: black;
}

.line_height_25px{
    line-height: 25px;
}

/* Horizontal centering */
.justify_center {
    justify-content: center;
}

/* Vertical centering */
.align_center {
    align-items: center;
}

/* Centering both horizontally and vertically */
.place_center {
    place-items: center;
}

.text_right{
    text-align: right;
}

.text_center{
    text-align: center;
}

.term_title{
    border-bottom: 1px solid rgb(232, 223, 223);
    padding-bottom: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.term_subtitle{
    margin-bottom: 10px;
}
.term_body{
    color:dimgray;
    
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: var(--font-main);
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.space_between{
    justify-content: space-between;
}

.container_basic{
    max-width: 114rem;
}

.max_width_114rem{
    max-width: 114rem;
}

.border_1{
    border: 2px solid salmon;
    border-radius: 12px;
}

.border_2 {
    border: 2px solid aquamarine;
}

.check_userdata{
}

.order_summary{
}

.summary_table_item {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}


/* Top Nav */
.top_nav{
    width: 100%;
    height: 4rem;
    background-color: black;
}
.top_nav_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_nav_wrap{
    display: flex;
    color: white;
}
.top_nav_p{
    font-weight: 400;
    font-size: 1.5rem;
}
.top_nav_link{
    margin-left: 0.6rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
    color: red;
}

/* Navbar */
.nav{
    height: 8rem;
    border-bottom: 1px solid rgb(232, 223, 223);
}

.nav_container{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.display_flex{
    display: flex;
}

.display_grid{
    display: grid;
}

.display_flexbox {
    display: flexbox;
}

.float_right{
    float: right;
}

.font_size_205vmin{
    font-size: 2.5vmin;
}

.nav_logo{
    font-size: 2.2rem;
    font-weight: 800;
    color: black;
}
.nav_item{
    margin: 0rem 2rem;
}
.nav_link{
    padding: 0.6rem;
    color: black;
}
.nav_form{
    padding: 0.4rem;
    background-color: rgb(214, 213, 213);
    display: flex;
    align-items: center;
}
.nav_input{
    padding: 0.4rem;
    background-color: transparent;
    outline: none;
    border: none;
}
.nav .social{
    color: black;
    padding: 1.7rem 1rem;
    display: flex;
    align-items: center;
}

.nav .social i{
    padding: 0 0.7rem;
    color: black;
}
.nav .social i:hover{
    color: rgb(48, 43, 43);
    transition: 0.3s;
}
.nav .social i:before{
    margin-left: 0.8rem;
    cursor: pointer;
}

/*  Header  */
.header_container{
    width: 100%;
    display: flex;
    margin-top: 4rem;
}
.header_filter{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* scrolling slider */

.category_p{
    border-left: 1.6rem solid red;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    color: red;
    font-size: 1.5rem;
}
.section_title{
    align-items: flex-end;
    margin-bottom: 4rem;
}

.section_products{
    padding: 40px 80px;
}

/* Swiper Slide */
.swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Cards */
.card{
margin: 1vmin;
margin-bottom: 20vmin;
}

.hairmeds_list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    grid-gap: 2rem;
    padding-inline: 1vmin;
}

.card_body{
    padding: 1vmin;
    text-align: center;
}

.card_area{
width: 30vmin;
height: 25vmin;
position: relative;
}

.card_image{
width: 100%;
height: 100%;
user-select: none;
}

.tag{
position: absolute;
top: 1.5rem;
left: 2rem;
z-index: 9;
padding: .4rem .8rem;
background-color: red;
font-weight: 600;
font-size: 1rem;
color: white;
border-radius: .5rem;
}

.card_title{
    font-size:1.6rem;
}
.card_icons{
    position: absolute;
    z-index: 9;
    top: 1.5rem;
    align-content: space-around;
    right: 1rem;
    display: flex;
    flex-direction: column;
}
.card_icons i{
    border-radius: 10rem;
    background-color: white;
    width: 3rem;
    height: 3rem;
    padding: 0.7rem 0rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

/* Card body */

.price{
    color: red;
    padding-bottom: 0.5vmin;
}



/* Category Items */
.categories{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(14rem,1fr));
    grid-gap: 2rem;
}
.categ{
    text-align: center;
    padding: 3rem;
    border: 2px solid rgb(233, 230, 230);
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 1.5rem;
}

.categ:hover{
    background-color: rgb(252, 34, 34);
}
.height_auto{
    height: auto;
}
.categ_name{
    padding-top: 1rem;
    font-size: 18px;
    font-weight: 500;
}

/* Big Img Display */
.trend{
    background-color: black;
    padding: 0rem 6rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    grid-gap: 2rem;    
    align-items: center;
}
.trend_img{
    width: 100%;
}
.trend_p{
    color: green;
    font-weight: 600;
    font-size: 25px;
}
.trend_title{
    color: white;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.trend_btn{
    background-color: green;
    padding: 1rem 2rem;
    color: white;
    border-radius: 20px;
}

/* Products */
.products_list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    grid-gap: 2rem;    
}

#products_list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    grid-gap: 2rem;    
}

.products_list .card_icons i{
    border-radius: 10rem;
    background-color: white;
    width: 3rem;
    height: 3rem;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.products_image_set{
    width: 40%;
    margin-right: 50px;
}

.products_image_smalls{
  flex-direction: row;
  justify-content: space-between;
}

.products_image_rows{
  flex-basis: 24%;
  cursor: pointer;
}

.order_options{
    display: block;
    margin-bottom: 10px; 
    outline: none;
    border: 1px solid #088178; 
    border-radius: 5px;
    padding: 4px;
}

#order_quantity{
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid #088178; 
    border-radius: 5px;
}

.background_color_1{
    background-color: mediumseagreen;
}

.background_color_white{
    background-color: white;
}

.agree_order{
    max-width: 50vmin;
    font-size: 1.4vmin;
    margin: 0 auto;
    color:rgb(179, 176, 176)
}

.pay_option{
    max-width: 50vmin;
    font-size: 1.4vmin;
    margin: 0 auto;
    color: rgb(179, 176, 176)
}

.pay_option_list{
    margin-right: 0.8vmin;
    border: 2px solid #ccc;
    transition: border-width 0.3s;   /* Makes the click feel smooth */
    appearance: none; /* Remove default radio button styling */
}

.pay_option_list:checked{
    border: 4px solid #fff; /* White gap cut-out */
    border-radius: 50%; /* Dark solid center point */
    background-color: #000;
    box-shadow: 0 0 0 4px #000;
}

.checkbox_text{
    font-size:1.7vmin;
}

.checkbox_agreement{
    height: 20px;
    border: 1.5px solid var(--text-dark);
    background-color: #fff;
    position: relative;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

#agreeterm{
    height: 15px;
    width: 15px;
    flex-shrink: 0;
    margin-right: 5px;
}

#agreeterm:checked{
    accent-color: #000;
}

/* Services */
.official_services{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    grid-gap: 3rem; 
}
.service{
    text-align: center;
}
.title_service{
    margin: 1rem 0rem;
    margin-bottom: 1%;
}

/* Footer */
.footer{
    margin-top: 10rem;
    background-color: black;
    padding-inline: 8rem;
    color: white;
}
.footer_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    grid-gap: 3rem;
    padding: 8rem 0rem;
}
.footer_title
{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
.footer_itm{
    margin: 0.5rem 0rem;
    font-size: 1vmax;
    color: white;
}
.bottom_container{
    width: 100%;
    text-align: center;
}
.copyright{
    color: grey;
    padding: 1rem 0rem;
}
 
/* Media Query  */

@media only screen and (max-width: 1070px){
    .header_container{
        flex-direction: column;
    }
    .header_filter{
        display: none;
    }
    .side_menu{
        display: block;
        align-items: right;
        width: 10rem;
    }
}


@media only screen and (max-width: 800px){
    .top_nav{
        display: none;
    }
    .nav_list{
        display: none; 
    }
    .nav .social{
        display: none;
    }
    .au_img>img{
        display: none;
    }
    .content{
        width: 100%;
    }
    .side_menu{
        display: none;
        cursor: pointer;
    }
}


/* Mobile Nav */
.mob_nav{
    background-color: white;
    position: absolute;
    z-index: 99;
    height: 100vh;
    border-right: 1px solid grey;
    transition: all 0.5s ease;
}
.mob_item{
    padding: 2rem 8rem 3rem 5rem ;
    border-bottom: 1px solid white;
}
.mob_link{
    padding: 1.2rem 5rem 1.2rem 0rem;
    color: black;
}
.mob_link:hover{
    color: rgb(244, 26, 26);
    text-decoration-line:underline;
}
.display_none{
    display: none;
}



/* Cart Page */

.width_100 {
    width: 100%;
}

.order_table_title {
    padding: 1.5rem;
    background-color: rgb(193, 193, 193);
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.order_table_item {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
}

.order_item_img {
width: 17vmin;
}

.total_cost {
margin-top: 2.5rem;
text-align: right;
}

.cart_product {
display: flex;
flex-direction: column;
}
  
/* Authentization */
.margin_top_10{
    margin-top: 10rem;
}

.autherization{
    width: 100%;
    display: flex;
    align-items: center;
    height: 80dvh;
    justify-content: center;
}

.au_img>img{
    width: 70%;
    height: 100%;
    object-fit: cover;
    margin-left: 20%;
}

.user_title{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.user_subtitle{
    margin: 2rem 0rem;
    text-align: center;
}

.input_place{
    width: 100%;
    margin-top: 2rem;
}

.user_input{
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 0.7rem;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.user_click{
    padding: 1.5rem;
    background-color: red;
    width: 100%;
    border: none;
    border-radius: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}






.grp>span{
    margin-top: 2rem;
    padding-left: 8rem;
}
.grp1>span{
    margin-top: 2rem;
    padding-left: 5rem;
}

.order_finish{
    font-family: 'Lato', sans-serif;
    width: 80%;
    padding-top: 125px;
    padding-bottom: 75px;
    margin: auto;
    text-align: center;
}

.add_cart_2{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #088178;
    color: white;
    transition: 0.3s ease;
}

.add_cart_2:active{
    background-color: rgb(222, 208, 208);
}



/* Add to cart */
.add_cart{
    padding: 1rem 2rem;
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    margin-bottom: 2rem;
    border-radius: .4rem;
}

.add_cart:active{
    transition: all 0.2s ease-in-out;
    background-color: rgb(179, 176, 176);
    color: black;
}

.button_proceed{
    padding: 1rem 2rem;
    background-color: red;
    outline: none;
    cursor: pointer;
    color: white;
    margin-top: 2rem;
}

.button_proceed:active{
    transition: all 0.2s ease-in-out;
    background-color: rgb(179, 176, 176);
    color: black;
}

#adding_cart {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#adding_cart.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}